@import "vendor.styl"
/************************* FIXS ****************************/
clearfix() 
	*zoom: 1
	&:before,
	&:after 
		content " "
		display table 
	&:after
		clear: both
/************************** BLOCKS *******************************************/
block-center()
	display block
	margin-left auto
	margin-right auto
	html.no-js.lt-ie9 &
		display auto
square(X)
	width X
	height X